---
- name: Collect configuration from Cisco switches
  hosts: cisco_switches
  gather_facts: false

  tasks:

    - name: Get running configuration
    - ios_command:
        commands:
          - show running-config
      register: run_cfg

    - name: Save running-config to file
      copy:
        content: "{{ run_cfg.stdout[0] }}"
        dest: "backup_configs/{{ inventory_hostname }}_running_config.txt"
      delegate_to: localhost

    - name: Display config in AWX output
      debug:
        msg: "{{ run_cfg.stdout[0] }}"
